---
import { DrillApp } from "../components/DrillApp";
import Layout from "../layouts/Layout.astro";
---

<Layout title="TS Daily Drill">
	<div class="max-w-lg mx-auto min-h-screen">
		<DrillApp client:load />
	</div>
</Layout>
